<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>About</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <img class="img-responsive" src="img/cfdays.png" alt="">
      </div>
      <div class="col-xs-9 text-left">
        <p class="text-left">
        Cloud Foundry Days にようこそ!<br>
        Cloud Foundry Days とは、Cloud Foundry Foundationが開催する、アジア・パシフィック地区でを対象とした、
        都市毎のコミュニティイベントです。<br>2016年は、シドニー、メルボルン、上海、北京、東京、シンガポール、
        香港で開催予定です。どんな技術レベルの方も参加OKです。<br>Cloud Foundryに興味のある方の参加を幅広くお待ちしております。
        </p>
        <p class="text-left">Welcome to Cloud Foundry Days!<br>
        Cloud Foundry Days are single-day community events scheduled across the APJ and China regions organized by 
        Cloud Foundry Foundation. In 2016, they are held in Sydney, Melbourne, Shanghai, Beijing, Singapore, Hong Kong 
        and Tokyo. All skill levels are welcomed. There are plenty of interesting sessions and they are fun!
        </p>
      </div>
    </div>
  </div>
</section>
