<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>About</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <img class="img-responsive" src="img/cfdays.png" alt="">
      </div>
      <div class="col-xs-9 text-left">
        <p class="text-left">
        Cloud Foundry Days にようこそ!
        Cloud Foundry Days とは、Cloud Foundry Foundationが今年から開催する、アジア・パシフィック地区で開催する、
        Cloud Foundryの都市毎のコミュニティイベントです。今年は、シドニー、メルボルン、上海、北京、東京、シンガポール、
        香港で開催予定です。どんな技術レベルの方も参加OKです。Cloud Foundryに興味のある方の参加を幅広くお待ちしております。
        </p>
        <p class="text-left">Welcome to Cloud Foundry Days!
        Cloud Foundry Days is a new single-day educational events sponsored by Cloud Foundry members, 
        scheduled across the APJ and China regions in Sydney, Melbourne, Shanghai, Beijing, Singapore, 
        Hong Kong and Tokyo. Cloud Foundry Days is a kind of mega meetup and it is placing importance on 
        the locality. All skill levels are welcomed. There are plenty of interesting sessions and they are fun!
        </p>
      </div>
    </div>
  </div>
</section>
