<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>About</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="text-center">Cloud Foundry Days にようこそ!</p>
        <p class="text-center">Cloud Foundry Foundationが主催するメガ・ミートアップ(mega meetup)です。
          <p>
            <p class="text-center">2016年は、シドニー、メルボルン、上海、北京、東京、シンガポール、香港で開催予定です。</p>
            <p/>
      </div>
      <div class="col-lg-12 text-center">
        <p class="text-center">Welcome to Cloud Foundry Days! </p>
        <p class="text-center">Cloud Foundry Days is a new single-day educational events sponsored by Cloud Foundry members, scheduled across the APJ and China regions in Sydney, Melbourne, Shanghai, Beijing, Singapore, Hong Kong and Tokyo.
          <p>
            <p class="text-center">Cloud Foundry Days is a kind of mega meetup and it is placing importance on the locality.</p>
            <p class="text-center">This page is for Tokyo region only.</p>
      </div>
    </div>
  </div>
</section>
