<!-- access Section -->
<section class="success" id="access">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Access</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>FUJITSU FSAS Minato Mirai Innovation & Future Center</p>
        <p>Queen’s Tower B, 2-3-3 Minato Mirai, Nishi-ku, Yokohama, Kanagawa, Japan 220-6109</p>
        <a href="http://www.qsy-tqc.jp/english/" target="_blank">access</a>
      </div>
    </div>
  </div>
</div>
