<!-- program Section -->
<section class="success" id="program">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>program</h3>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th>Time</th>
            <th>title</th>
            <th>Presenter</th>
          </tr>
        </thread>
          <tbody>
            <tr>
              <th scope="row">12:30 - 13:00</th>
              <td>Reception</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">13:00 - 13:05</th>
              <td>Opening Remarks</td>
              <td>Cloud Foundry Days Bureau</td>
            </tr>
            <tr>
              <th scope="row">13:05 - 13:30</th>
              <td>Making the Cloud Business Ready</td>
              <td>Chip Childers (Cloud Foundry Foundation)</td>
            </tr>
            <tr>
              <th scope="row">13:30 - 13:50</th>
              <td>TBD</td>
              <td>Carlo Alberto Ferraris, Ronak Banka (Rakuten)</td>
            </tr>
            <tr>
              <th scope="row">13:50 - 14:20</th>
              <td>TBD</td>
              <td>TBD</td>
            </tr>
            <tr>
              <th scope="row">14:20 - 14:50</th>
              <td>TBD</td>
              <td>TBD(Pivotal)</td>
            </tr>
            <tr>
              <th scope="row">14:50 - 15:00</th>
              <td>BREAK</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">15:00 - 15:30</th>
              <td>TBD</td>
              <td>TBD(Apigee)</td>
            </tr>
            <tr>
              <th scope="row">15:30 - 16:00</th>
              <td>TBD</td>
              <td>TBD</td>
            </tr>
            <tr>
              <th scope="row">16:00 - 16:30</th>
              <td>TBD</td>
              <td>TBD(FUJITSU)</td>
            </tr>
            <tr>
              <th scope="row">16:30 - 16:40</th>
              <td>BREAK</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">16:40 - 17:10</th>
              <td>TBD</td>
              <td>TBD</td>
            </tr>
            <tr>
              <th scope="row">17:10 - 17:40</th>
              <td>Planning Public Offer</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">17:40 - 17:50</th>
              <td>Closing</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">18:00 - 19:30</th>
              <td>Party</td>
              <td/>
            </tr>
      </table>
    </div>
  </div>
</section>
