<!-- program Section -->
<section class="success" id="program">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>program</h3>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th>Time</th>
            <th>title</th>
            <th>Presenter</th>
            <th>Language</th>
          </tr>
        </thread>
          <tbody>
            <tr>
              <th scope="row">12:30 - 13:00</th>
              <td>Reception</td>
              <td/>
              <td><img class="img-responsive" src="img/usajp.jpg" alt="">
            </tr>
            <tr>
              <th scope="row">13:00 - 13:05</th>
              <td>Opening Remarks</td>
              <td>Cloud Foundry Days Bureau</td>
              <td><img class="img-responsive" src="img/japan.png" alt="">
            </tr>
            <tr>
              <th scope="row">13:05 - 13:30</th>
              <td>Making the Cloud Business Ready</td>
              <td><a href="#chipchilders">Chip Childers (Cloud Foundry Foundation)</a></td>
              <td><img class="img-responsive" src="img/usa.png" alt="">
            </tr>
            <tr>
              <th scope="row">13:30 - 13:50</th>
              <td>TBD</td>
              <td><a href="#rakuten">Carlo Alberto Ferraris, Ronak Banka (Rakuten)</a></td>
              <td><img class="img-responsive" src="img/usa.png" alt="">              
            </tr>
            <tr>
              <th scope="row">13:50 - 14:20</th>
              <td>TBD</td>
              <td><a href="#julian">Julian Fischer (CEO of AnyNines)</a></td>
              <td><img class="img-responsive" src="img/usa.png" alt="">              
            </tr>
            <tr>
              <th scope="row">14:20 - 14:50</th>
              <td>TBD</td>
              <td>TBD (Pivotal)</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">14:50 - 15:00</th>
              <td>Break</td>
              <td/>
              <td/>
            </tr>
            <tr>
              <th scope="row">15:00 - 15:30</th>
              <td>TBD</td>
              <td>TBD (Apigee)</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">15:30 - 16:00</th>
              <td>TBD</td>
              <td>TBD (Certain Company)</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">16:00 - 16:30</th>
              <td>TBD</td>
              <td>TBD (Fujitsu)</td>
              <td><img class="img-responsive" src="img/japan.png" alt="">
            </tr>
            <tr>
              <th scope="row">16:30 - 16:40</th>
              <td>Break</td>
              <td/>
              <td/>
            </tr>
            <tr>
              <th scope="row">16:40 - 16:55</th>
              <td>TBD</td>
              <td>Japan Cloud Foundry Group</td>
              <td><img class="img-responsive" src="img/japan.png" alt="">
            </tr>
            <tr>
              <th scope="row">16:55 - 17:10</th>
              <td>TBD</td>
              <td>ibmamnt</td>
              <td><img class="img-responsive" src="img/japan.png" alt="">
            </tr>
            <tr>
              <th scope="row">17:10 - 17:25</th>
              <td>TBD</td>
              <td>jyoshie</td>
              <td><img class="img-responsive" src="img/japan.png" alt="">
            <tr>
              <th scope="row">17:25 - 17:40</th>
              <td>TBD</td>
              <td>TBD</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">17:40 - 17:50</th>
              <td>Closing Remarks</td>
              <td>Cloud Foundry Days Bureau</td>
              <td><img class="img-responsive" src="img/japan.png" alt="">
            </tr>
            <tr>
              <th scope="row">18:00 - 19:30</th>
              <td>Party</td>
              <td/>
              <td><img class="img-responsive" src="img/usajp.jpg" alt="">
            </tr>
      </table>
    </div>
    <br>
    <div class="row" id="chipchilders">
      <div class="col-xs-3">
        <img class="img-responsive" src="img/chipchilders.png" alt="">
      </div>
      <div class="col-xs-9 text-left">
        <p class="lead text-left"><b>Making the Cloud Business Ready (Chip Childers, Cloud Foundry Foundation)</b></p>
        <p class="text-left">
            Initially, cloud technologies were all about the infrastructure. But infrastructure is a funny thing. 
          Because infrastructure becomes a commodity. This is why we’re at the edge of Cloud hitting its peak - and its 
          first best use - via the platform layer. Chip Childers will discuss the future of cloud technologies, 
          what drives enterprises to adopt these technologies in droves, and which development languages matter now, 
          more than ever - and why.
        </p>
      </div>
    </div>
    <br><br>
    <div class="row" id="rakuten">
      <div class="col-xs-3">
        <img class="img-responsive" src="img/carlo.jpg" alt="">
      </div>
      <div class="col-xs-9 text-left">
        <p class="lead text-left"><b>To be defined (Carlo Alberto Ferraris &amp Ronak Banka, Rakuten)</b></p>
        <p class="text-left">
            To be defined.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <img class="img-responsive" src="img/ronak.png" alt="">
      </div>
      <div class="col-xs-9 text-left">
        <p class="text-left">
        </p>
      </div>
    </div>
    <br><br>
    <div class="row" id="julian">
      <div class="col-xs-3">
        <img class="img-responsive" src="img/julian.jpg" alt="">
      </div>
      <div class="col-xs-9 text-left">
        <p class="lead text-left"><b>To be defined (Julian Fischer, CEO of AnyNines)</b></p>
        <p class="text-left">
            To be defined.
        </p>
      </div>
    </div>    
  </div>
</section>
