<!-- program Section -->
<section class="success" id="program">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>program</h3>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Presenter</th>
          </tr>
        </thread>
          <tbody>
            <tr>
              <th scope="row">12:30 - 13:00</th>
              <td>受付<br>Reception</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">13:00 - 13:05</th>
              <td>ご挨拶、連絡事項<br>Opening Remarks</td>
              <td>事務局<br>Cloud Foundry Days Bureau</td>
            </tr>
            <tr>
              <th scope="row">13:05 - 13:30</th>
              <td>Making the Cloud Business Ready</td>
              <td><a href="JavaScript:void(0)" onclick="popWindow('img/chipchilders.png', 'Chip Childers (Cloud Foundry Foundation)', 'Initially, cloud technologies were all about the infrastructure. But infrastructure is a funny thing. Because infrastructure becomes a commodity. This is why we\'re at the edge of Cloud hitting its peak - and its first best use - via the platform layer. Chip Childers will discuss the future of cloud technologies, what drives enterprises to adopt these technologies in droves, and which development languages matter now, more than ever - and why.'); return false">Chip Childers</a></td>
            </tr>
            <tr>
              <th scope="row">13:30 - 13:50</th>
              <td>TBD</td>
              <td>Carlo Alberto Ferraris, Ronak Banka (Rakuten)</td>
            </tr>
            <tr>
              <th scope="row">13:50 - 14:20</th>
              <td>Data Service Patterns for Cloud Foundry</td>
              <td><a href="JavaScript:void(0)" onclick="popWindow('img/julian.jpg', 'Julian Fischer (CEO of anynines)', 'An increasing number of Cloud Foundry platforms have matured to a point where data services become the next big challenge. In this talk Julian Fischer, CEO of anynines, will give a brief overview of different data service integration patterns. Learn about general data services challenges. See pros and cons of different approaches including the dilemma of generic vs. data service specific strategies. Finally, see how existing data service implementations are built. At the end of the talk you have a conceptional overview giving you hint on how to design data services on your own.'); return false">Julian Fischer (CEO of anynines)</a></td>
            </tr>
            <tr>
              <th scope="row">14:20 - 14:35</th>
              <td>休憩<br>BREAK</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">14:35 - 15:05</th>
              <td>Circle of Code</td>
              <td>Tomohiro Ichimura, Gwenn Etourneau (Pivotal)</td>
            </tr>
            <tr>
              <th scope="row">15:05 - 15:35</th>
              <td>Routeサービスを使ったCloud FoundryアプリのAPI管理<br>Using CF Route Service to Publish, Secure, Monitor APIs</td>
              <td>関谷和愛 (Apigee)<br>Kazuchika Sekiya(Apigee)</td>
            </tr>
            <tr>
              <th scope="row">15:35 - 16:05</th>
              <td>Cloud Nativeと企業向けプラットフォーム "Enterprise Cloud - Cloud Foundry"<br>Cloud Native and Enterprise oriented platform "Enterprise Cloud - Cloud Foundry"</td>
              <td>古田 あやか (NTTコミュニケーションズ(株))<br>Ayaka Furuta (NTT Communication Corporation)</td>
            </tr>
            <tr>
              <th scope="row">16:05 - 16:35</th>
              <td>富士通のCloud Foundryへの取り組み～安心運用７つの秘密～<br>7 secrets to Cloud Foundry enterprise level operation</td>
              <td>武田俊男、永井剛 (富士通(株))<br>Toshio Takeda, Tsuyoshi Nagai (Fujitsu Ltd.)</td>
            </tr>
            <tr>
              <th scope="row">16:35 - 16:50</th>
              <td>休憩<br>BREAK</td>
              <td/>
            </tr>
            <tr>
              <th scope="row">16:50 - 17:05</th>
              <td>TBD</td>
              <td>日本Cloud Foundryグループ<br>Japan Cloud Foundry Group</td>
            </tr>
            <tr>
              <th scope="row">17:05 - 17:20</th>
              <td>DEAがサポートされなくなると聞いたのでDiego についてまとめてみました<br>Summary of Diego due to end of life of DEA</td>
              <td><a href="JavaScript:void(0)" onclick="popWindow('img/amanosan.jpg', 'Takehiko Amano (board member of Japan Cloud Foundry Group)', 'DEA は 2017 に End of Life を迎えます。Cloud Foundry ユーザーは Diego に移行することを推奨されています。DEAの課題、Diego のメリット、DEA / Diego の比較を概観するとともに、Diego への移行の注意点を説明します。<br><br>DEA will be EOL at the end of 2017. Users are strongly advised to move their environment to Diego. In this session, Takehiko explains the merits and issues of Diego, the overview of differences between DEA and Diego and tips, tricks and traps of migration from DEA to Diego.'); return false">日本Cloud Foundry グループ理事　天野武彦<br>Takehiko Amano (board member of Japan Cloud Foundry Group)</a></td>
            </tr>
            <tr>
              <th scope="row">17:20 - 17:35</th>
              <td>Cloud Foundry as Containerized Services</td>
              <td>@jyoshise</td>
            </tr>
            <tr>
              <th scope="row">17:35 - 17:55</th>
              <td>TBD</td>
              <td>窪野 安彦(ヤフー(株))<br>Yasuhiko Kubono(Yahoo Japan Corporation)</td>
            </tr>
            <tr>
              <th scope="row">17:55 - 18:00</th>
              <td>終了あいさつ<br>Closing Remarks</td>
              <td>事務局<br>Cloud Foundry Days Bureau</td>
            </tr>
            <tr>
              <th scope="row">18:00 - 19:30</th>
              <td>懇親会<br>Networking Party</td>
              <td/>
            </tr>
      </table>
    </div>
    <br>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modalLabel"></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-3">
                <img src="" id="imagepreview" class="img-responsive" >
              </div>
              <div class="col-xs-9" id="presentation" "text-left">
              </div>
            </div>
         </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      function popWindow(source, label, content) {
        $('#imagepreview').attr('src', source);
        $('#modalLabel').html(label);
        $('#presentation').html(content);
        $('#imagemodal').modal('show');
      }
    </script>

  </div>
</section>
